@import "./assets/button";


@mixin box-init {
    background-color:blue;
    width: 50px;
    height: 50px;
    transition: all 4s ease-in-out;
}

@mixin box-hover {
    background-color: greenyellow;
    width: 200px;
    height: 200px;
    transform: translateX(200px);
}
.colorChangingSquare {
    @include box-init;
    &:hover {
        @include box-hover;
    }

}